* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Caesar Dressing', cursive;
    font-weight: 200;
    text-transform: lowercase;
    border-bottom: 1px solid rgba(226, 226, 226, 1);
    cursor: pointer;
}

header nav {
    display: flex;
    width: 17vw;
    align-items: center;
    justify-content: space-around;
}

header div {
    display: flex;
    width: 10vw;
    justify-content: space-around;
}

main nav {
    display: flex;
    justify-content: center;
}

main ul {
    text-transform: uppercase;
    list-style: none;
    height: 20vh;
    cursor: pointer;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sect1 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.div-1 {

    width: 100vw;
}

.texto-1 {
    position: relative;
    bottom: 120px;
    color: #fff;
    width: 20vw;
    padding-left: 20px;

}

.div-2 {
    width: 100vw;

}


.texto-2 {
    position: relative;
    bottom: 100px;
    color: #fff;
    width: 25vw;
    padding-left: 20px;
}


.div-3 {

    width: 100vw;

}

.texto-3 {
    position: relative;
    bottom: 100px;
    color: #fff;
    width: 25vw;
    padding-left: 20px;
}

.sect2 {
    width: 100vw;
    padding-left: 40px;

}

.div-4 {
    position: relative;
    bottom: 100px;
    color: #fff;
    width: 50%;
    height: 50%;
    margin-left: 30px;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.texto-4 {
    cursor: pointer;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
    margin-bottom: 30px;
}


.mobile {
    display: none;
}


@media(max-width:700px) {

    header {

        flex-direction: row-reverse;
    }

    .iconeheader {
        display: none;
    }

    .mobile {
        display: block;
    }


    main nav {
        display: none;
    }

    .div-0 {
        display: none;
    }

    .sect1 {
        width: 100vw;
        display: block;
        padding: 0;
        margin-bottom: 0;

    }

    .sect1 img {
        width: 90vw;
        height: 55vh;
        margin-left: 20px;
        padding: 0;

    }


    .texto-1 {
        width: 80vw;
        padding-left: 40px;
    }

    .texto-2 {
        width: 80vw;
        padding-left: 40px;
    }

    .texto-3 {
        width: 80vw;
        padding-left: 40px;
        padding-bottom: 10px;
        position: relative;
        bottom: 150px;
    }

    .sect2 {
        width: 100vw;
        padding: 0;
        margin: 15px;
    }

    .sect2 img {
        display: flex;
        width: 90vw;
        height: 45vh;
    }

    .div-4 {
        width: 90vw;
        margin-left: 3px;
        position: relative;
        bottom: 150px;

    }

    .div-4 p {

        padding-bottom: 10px;
    }

    .div-4 h2 {
        width: 80vw;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    footer {
        width: 100vw;
        display: flex;
        flex-direction: column;
        height: 100%;

    }

    .texto-4 {

        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 50px;
        width: 100vw;

    }


}